<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139722804465-u9bs8uo0ff47l0q4dkd88npu1ruv56rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139722804465-u9bs8uo0ff47l0q4dkd88npu1ruv56rt</string>
	<key>API_KEY</key>
	<string>AIzaSyDEWszHojvmbEyUualB1Gsfp8KrnUFtUvU</string>
	<key>GCM_SENDER_ID</key>
	<string>139722804465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>flow-app-41981</string>
	<key>STORAGE_BUCKET</key>
	<string>flow-app-41981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139722804465:ios:4a313268aa279241662d50</string>
</dict>
</plist>